alias -g L='|less'
alias -g NUL='>/dev/null 2>&1'
alias ....='cd ../../..'
alias ...='cd ../..'
alias ..='cd ..'
alias ai='apt install'
alias ap='ansible-playbook -e ansible_python_interpreter=$(which python3)'
alias as='apt search'
alias bi='brew install'
alias bl='brew list'
alias bs='brew search'
alias bu='brew update'
alias bun='brew uninstall'
alias bupg='brew upgrade'
alias buu='brew update && brew upgrade'
alias cp='cp -i'
alias di='docker images'
alias dps='docker ps -a'
alias dsp='docker system prune'
alias fw="pfctl -a '*' -sr"
alias ga='git add'
alias gco='git commit'
alias gd='git diff'
alias grep='grep --color'
alias gs='git status'
alias ip='ip -c'
alias iplookup='mmdblookup -f /usr/local/var/GeoIP/GeoLite2-City.mmdb -i'
alias k='kubectl'
alias ka='k apply -f'
alias kd='k delete -f'
alias kgp='k get pods'
alias kgs='k get services'
alias l.='l -d .*'
alias l='ls -latrGF'
alias lc='launchctl'
alias ln='ln -v'
alias mkdir='mkdir -pv'
alias mv='mv -i'
alias mydns='networksetup -getdnsservers Wi-Fi'
alias myfacts='ansible -m setup -i127.0.0.1, -c local all'
alias pf='pip freeze'
alias pi='pip install'
alias rm='rm -i'
alias socks='lsof -nPi'
alias sort='sort --parallel --compress=pbzip2'
alias sshconf='vim ~/.ssh/config'
alias sudo='sudo '
alias vd='vagrant destroy'
alias vi='vagrant init'
alias vimrc='vim ~/.vimrc'
alias vu='vagrant up'
alias yubi_ssh='ssh-keygen -D /usr/lib/x86_64-linux-gnu/libykcs11.so -e'
alias zshrc='vim ~/.zshrc'
alias zsrc='source ~/.zshrc'
