export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_INSECURE_REDIRECT=1
export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1
export HOMEBREW_AUTO_UPDATE_SECS=86400
export GOPATH=$HOME/go

export PATH=$PATH:$GOPATH/bin
export PATH="/usr/local/sbin:$PATH"
