mktdir(){
  NAME=$(date +%Y%m%d.%H%M%S)_${1:?"tdir <dir name>"}
  mkdir "${NAME}"
  ls -ldGF "${NAME}"
}

cdl(){
  DIR="${@:$#}"
  cd "${DIR}"
  ls -latrGF
}

#https://github.com/drduh/YubiKey-Guide
secret () {
        output=~/"${1}".$(date +%s).enc
        gpg --encrypt --armor --output ${output} -r 0x0000 -r 0x0001 -r 0x0002 "${1}" && echo "${1} -> ${output}"
}

reveal () {
        output=$(echo "${1}" | rev | cut -c16- | rev)
        gpg --decrypt --output ${output} "${1}" && echo "${1} -> ${output}"
}
